{% extends "base.html" %}

{% block titulo %}conclusiones // GDELT{% endblock %}

{% block contenido %}
<h1 class="titulo-pagina">Conclusiones del análisis</h1>
<div class="meta-pagina">tres conclusiones obtenidas a partir de los datos calculados</div>

<div class="panel">
    <div class="conclusion">
        <h3>Conclusión 1</h3>
        <p></p>
    </div>
    <div class="conclusion">
        <h3>Conclusión 2</h3>
        <p>En la consulta de Principales temas extraídos por el GKG por continente por año, se puede notar que los temas
            tienen cierta correlación. Los temas que se encuentran son acerca de noticias de crisis, desastres naturales
            y política. A pesar de que cada tema de política no sea exactamente el que tenga mayor cantidad de documentos,
            si es un tema que se repite bastante. 
        </p>
    </div>
    <div class="conclusion">
        <h3>Conclusión 3</h3>
        <p>Observando la consulta de Índice de diversidad de fuentes por país, se puede apreciar que Estados Unidos es el
            el que muestra un mayor índice de diversidad. El cual de cierta forma corresponde con la realidad, Estados Unidos 
            es uno de los países con mayor cantidad de fuentes de información.
        </p>
    </div>
</div>
{% endblock %}
